/*--------------------- GENERAL------------------------------------------------------------------------------------------------------------------------------------------*/

 * {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;      
} 

@media all and (max-width: 768px)
{
    .wrapper
    {
        width: auto;
    }
}
@media all and (max-width: 1024px)
{
    .wrapper
    {
        width: auto;
    }
}

 h2 {
    font-family: "Work Sans";
    font-weight: normal;
    font-size: 90px;
    padding: 15px 0px 15px 130px;    
 }

.underline {
     border-bottom: 0.1em;
     border-bottom-color: rgb(5, 5, 5);
     border-bottom-style: solid;
     width: 940px;    
 }
/*----------------------------------------- HEADER----------------------------------------------------------------------- */
#main {
    height: 820px;
    background-color: black;
    color: white;      
}

#underscore {
    
    animation:1s blinker linear infinite;
    -webkit-animation:1s blinker linear infinite;
    -moz-animation:1s blinker linear infinite;

        color: orange;
    }

    @-moz-keyframes blinker {  
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
        }

    @-webkit-keyframes blinker {  
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
        }

    @keyframes blinker {  
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
}

header {
    height: 120px;    
}

header a {
    color: white;
    text-decoration: none;
    list-style-type: none;  
}

header nav {
    float: right;       
}

#me {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style:solid;
    border-width: 1px;  
    background-image: url(photos/Avatar.jpg);
    background-position: center;
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style:solid;
    border-width: 1px;  
    background-image: url(photos/Bobo.JPG);
    background-position: center;
    background-size: cover;
    transform: rotate(-90deg);
    margin-top: 60px;
}

#citation  {
    font-family: "Montserrat";
    font-size: 70px;
    /* margin-top: 100px;  */
}

#tag {
    float: left;
    margin-top: 10px;
    font-size: 50px;
    font-family: "Montserrat";   
}
nav li {
    display: inline-block;
    font-weight: bold;
    margin-right: 40px;
    font-family: "Montserrat";
    margin-top: 10px;   
}
img {
    float: right; 
}

/*---------------------------------------- PROJETS------------------------------------- */

#project {
    height: 820px;
    background-color: darkgray;    
}
.up {
    width: 36px;
    height: 36px;
    background-image: url("photos/console-line.png");
    float: right;
}

.btnModal {
    background-color: grey;
    
}

.square {
    margin-top: 50px;
    margin-left: 250px;
}

.first_square div {
    border: solid 1px rgb(10, 10, 10);
    height: 250px;
    width: 200px;
    display: inline-block;   
}

.second_square div {
    border: solid 1px rgb(10, 10, 10);
    height: 250px;
    width: 200px;
    display: inline-block;
}

.first_square #one {
    background-image: url("photos/blog.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.first_square #two {
    background-image: url("photos/index.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.second_square #three {
    background-image: url("photos/index.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.second_square #four {
    background-image: url("photos/index.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*------------------------------ ---------COMPETENCES -------------------------------------------------------------------*/
.icon p {
    font-family: "Montserrat";
}
#skill {
    height: 820px;
    background-color: white;   
}

.icon div {
   display: inline-block;                       
   margin-top: 140px;                
   margin-left: 170px;
}
#html {
    width: 72px;
    height: 108px;
    background-image: url('photos/html.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
           
}
#html p {
    padding-left: 13px;
}

#css {
    width: 72px;
    height: 96px;
    background-image: url('photos/css.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;         
}
#css p {
    padding-left: 20px;
}

#js {
    width: 72px;
    height: 96px;
    background-image: url('photos/js.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;         
}
#js p {
    padding-right: 8px;
} 
#github {
    width: 72px;
    height: 96px;
    background-image: url('photos/github.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;     
}
#github {
    padding-left: 5px;
}

#php {
    width: 72px;
    height: 96px;
    background-image: url('photos/php.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;   
}
#php p {
    padding-left: 19px;
}
#mysql {
    width: 72px;
    height: 96px;
    background-image: url('photos/mysql.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;    
}
#mysql p {
    padding-left: 6px;
}
/*------------------------------------A PROPOS DE MOI ------------------------------------------------------------*/

#about_me {
    height: 820px;
    background-color:rgb(204, 204, 188);
    
}

#about_me p {
    margin-top: 10px;
}

/*----------------CONTACT----------------------------*/
#contact {
    height: 450px;
    background-color: black;
    color: white;
}

#contact p {
    font-size: 30px;
    font-family: Montserrat;
    text-align: center;
    padding-top: 60px;
}
#gitlab {
    width: 32px;
    height: 32px;
    background-image: url('photos/gitlab.png');
    background-repeat: no-repeat;
    background-size:  contain;
}
#linkedin {
    width: 32px;
    height: 32px;
    background-image: url('photos/linkedin.png');
    background-repeat: no-repeat;
    background-size:  contain;
    
}
.icon2{
    display: inline-block; 
    margin-left: 470px;
    margin-top: 30px;
}